.header-name {
  	width: 100%;
  	text-align: center;
  	font-size: 2.05em;
  	//padding-top: 1.5em;
  	//margin-top: -2.6em;

  	@media screen and (min-width: $tablet) {
  		font-size: 2.5em;
  	}
  	@media screen and (min-height: 600px) {
  		margin-top: 0;
  	}
}

.header-sub {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 0.7em;
	@media screen and (min-width: $tablet) {
  		margin-top: 1em;
  	}
}

.header-pair {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0em 0.8em 0em 0.8em;
	font-size: 0.84em;

	@media screen and (min-width: $tablet) {
		font-size: 1.1em;
		padding: 0em 1em 0em 1em;
	}

	@media screen and (min-width: $desktop) {
		font-size: 1.16em;
	}

	h4 {
		font-size: 1.38em;
		display: inline-block;
		font-weight: 700;
	}

	svg {
		width: 0.98em;
		margin-right: 0.5em;
	}

}