body {
	position: relative;
	overflow-x: hidden;
}

.content-overlay {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	letter-spacing: 0.08em;
	background-color: $br-white;
	mix-blend-mode: screen;
	min-height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	//pointer-events: none;
}

.content-overlay > div {
	//pointer-events: all;	
}


.pt-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}